/* #####################-------- Margins & Paddings Start -----------############ */
.mb-0 {
	margin-bottom: 0px !important;
}
.mb-1 {
	margin-bottom: 1px !important;
}
.mb-2 {
	margin-bottom: 2px !important;
}
.mb-15 {
	margin-bottom: 15px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-25 {
	margin-bottom: 25px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-35 {
	margin-bottom: 35px !important;
}
.mt-35 {
	margin-top: 35px !important;
}
.pt-50 {
	padding-top: 50px !important;
}
.p-15 {
	padding: 15px !important;
}
.p-25 {
	padding: 25px !important;
}
.py-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.py-25 {
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}
.px-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.px-25 {
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.separator {
	height: 2px;
}
/* #####################-------- Margins & Paddings End -----------############ */

/* #####################-------- Font CSS starts -----------############ */
.font-semi-bold {
	font-weight: 600 !important;
}
.font-weight-normal {
	font-weight: 400 !important;
}
.f-15 {
	font-size: 15px !important;
}
/* #####################-------- Font CSS End -----------############ */

/* ###############-------Btn  css Start------################### */
.btn {
	height: 50px;
	min-width: 290px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 4px;
	border-width: 2px;
}
.btn-sm {
	min-width: 125px;
	height: 30px;
	line-height: 1;
}
.btn-md {
	min-width: 195px;
	height: 36.5px;
	line-height: 1;
}
.btn-small {
	min-width: 150px;
}
.btn-block {
	min-width: 100%;
}
.btn-auto {
	min-width: auto;
	height: auto;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
	background-color: #0d1e45 !important;
	border-color: #0d1e45 !important;
}
.btn-secondary:hover {
	background-color: #283c73;
	border-color: #283c73;
}
.btn-outline {
	border-color: rgba(50, 55, 60, 0.5);
	color: #0d1e45;
	background-color: #ffffff !important;
}
.btn-outline:hover .btn-outline:active {
	color: #0d1e45;
}
.btn-link {
	min-width: auto;
	line-height: initial;
}
.ml-auto {
	margin-left: auto !important;
}
.btn-big {
	min-width: 210px !important;
	height: 65px;
}
.btn-light {
	background-color: #e9edf0 !important;
	border-color: #e9edf0 !important;
}
/* ###############-------Btn  css End------################### */

.page {
	margin-top: 20px;
}
.spacer {
	min-height: 50px;
}
body {
	color: #0d1e45;
	font-weight: 600;
}

.bg-light {
	background-color: #f1f4f9 !important;
}
.bg-primary {
	background-color: #3d71de !important;
}
.text-secondry {
	color: #0d1e45;
}
.text-light {
	color: rgba(13, 30, 69, 0.75) !important;
}
.min-vh-100 {
	min-height: 100vh;
}
.bg-secondry {
	background-color: #0d1e45 !important;
}
.f-10 {
	font-size: 10px;
}
.f-12 {
	font-size: 12px !important;
}
.f-14 {
	font-size: 14px !important;
}
.f-15 {
	font-size: 15px !important;
}
.f-18 {
	font-size: 18px !important;
}
.f-22 {
	font-size: 22px !important;
}
.f-24 {
	font-size: 24px !important;
}
.f-28 {
	font-size: 28px !important; /* H3 tag  */
}
.f-32 {
	font-size: 32px !important; /* H2 tag  */
}

/*###############-------Form  css Start------###################*/
.form-group {
	margin-bottom: 15px;
}
.form-group > label {
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 9px;
}
.form-control {
	height: 50px;
	border: 1px solid #5f6c7b;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
}
select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(./assets/icons/select.svg);
	background-repeat: no-repeat;
	background-position: center right 24px;
	padding-right: 48px;
}
.form-control::placeholder {
	color: rgba(13, 30, 69, 0.5);
}
.form-control:disabled {
	opacity: 0.5;
}
.form-control-sm {
	height: 30px;
	background-position: center right 10px !important;
	background-size: 11px;
	padding-right: 30px !important;
	min-width: 165px;
}
.alert-danger {
	background-color: rgb(185, 13, 31);
}
.form-control.is-invalid {
	box-shadow: 0px 0px 0px 1px #d0021b;
}
.upload-profile {
	cursor: pointer;
}
textarea.form-control {
	height: 180px;
}
.error-message {
	color: #d0021b;
}
.error {
	border: 1px solid #d0021b !important;
}

/*###############-------Form  css ends------###################*/
.bdr-secondary {
	border-color: #0d1e45 !important;
}
.calender-input {
	background-image: url(./assets/icons/calendar.svg);
	background-repeat: no-repeat;
	background-position: center right 24px;
	padding-right: 48px;
}
.list-group .list-group-item:last-child {
	margin-bottom: 0px;
}
.counter {
	height: 30px;
	width: 30px;
}
.card-title {
	letter-spacing: 1.5px;
}
