/*###############-------Avatar css Start------###################*/
.user-circle .position-absolute {
	left: 0;
	cursor: pointer;
}
/*###############-------Avatar css End------###################*/

/*#################------- Profile Css ----------#######################*/
.profile-image {
	height: 260px;
	width: 260px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: initial;
	font-size: 80px;
	background-color: #3d71de;
}
.upload-profile {
	cursor: pointer;
	opacity: 0;
}
