.bdr-secondry {
	border-color: #0d1e45 !important;
}
.bdr-1 {
	border-width: 1px !important;
}
.py-25 {
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}
.px-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.border-bottom {
	border-bottom: 1px solid #dee2e6 !important;
}

.border-top {
	border-top: 1px solid #dee2e6 !important;
}
@media (min-width: 992px) {
	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
/* ####################--------- Fonts Starts ---------------########### */
.f-15 {
	font-size: 15px !important;
}
.font-semi-bold {
	font-weight: 600 !important;
}
.text-light {
	color: rgba(13, 30, 69, 0.75) !important;
}
/* ####################--------- Fonts Ends ---------------########### */

.shadow-sm,
.shadow-sm--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
}
.opacity-75 {
	opacity: 0.75;
}
.separator {
	height: 2px;
}
.card-title {
	letter-spacing: 1.5px;
}
dt {
	font-weight: 700;
}

/* ############################-----Document Version Sidebar CSS Starts----------############## */
.wrappedClass {
	border-right: 1px solid #000;
	padding: 30px;
}

.documentVersionHeading {
	border: 1px solid black !important;
}
/* ############################-----Document Version Sidebar CSS Ends----------############## */

.side-toggle {
	height: 20px;
	width: 20px;
	background-size: 20px;
	/* background-image: url(./../images/icons/Minimize.svg); */
	/* background-repeat: no-repeat; */
}
.close-aside .document-sidebar .side-toggle,
.close-log .side-toggle {
	/* background-image: url(./../images/icons/Maximize.svg); */
}
.close-log .correction-list {
	display: none;
}
.correction-details {
	display: none;
}
.open-correction .correction-details {
	display: block;
}
.open-correction .correction-log {
	display: none;
}
.document-sidebar {
	min-width: 25%;
	transition: all ease-in-out 70ms;
}
.close-aside .document-sidebar {
	margin-left: calc(-25% + 50px);
}
.close-aside .document-sidebar .form-group {
	display: none;
}
.instruction-tool .dropdown {
	max-width: 600px;
}
.instruction-tool .instruction-btn {
	height: 40px;
	background-size: 20px;
}
.instruction-tool .dropdown-menu {
	background-color: #e9edf0 !important;
	top: -25px !important;
	transform: none !important;
}
.instruction-tool .dropdown-menu .dropdown-item {
	padding: 0px 10px;
	border: 0px;
	line-height: 40px;
	margin-bottom: 10px;
	font-weight: 400;
}
.instruction-tool .dropdown-menu .dropdown-item:last-child {
	margin-bottom: 0px;
}

.correction-log-container {
	position: fixed;
	bottom: 0px;
	width: calc(100% - 25%);
}
.close-aside .correction-log-container {
	width: calc(100% - 50px);
}
@media (max-width: 992px) {
	aside.document-sidebar {
		position: absolute;
		height: 100%;
		z-index: 100;
		min-width: 330px;
	}
	.close-aside .document-sidebar {
		margin-left: calc(-330px + 50px);
	}
	.correction-log-container {
		width: calc(100% - 50px);
	}
}
