.bdr-secondry {
	border-color: #0d1e45 !important;
}
.bdr-1 {
	border-width: 1px !important;
}
.border-bottom {
	border-bottom: 1px solid #dee2e6 !important;
}
.border-top {
	border-top: 1px solid #dee2e6 !important;
}
.calender-icon {
	margin-top: -30%;
	margin-left: 88%;
}
.deleteIcon {
	margin-left: 88%;
	margin-top: 4%;
}
.side-toggle {
	height: 20px;
	width: 20px;
	background-size: 20px;
}
.close-log .correction-list {
	display: none;
}
.correction-details {
	display: none;
}
.open-correction .correction-details {
	display: block;
}
.open-correction .correction-log {
	display: none;
}
.document-sidebar {
	min-width: 25%;
	transition: all ease-in-out 70ms;
}
.close-aside .document-sidebar {
	margin-left: calc(-25% + 50px);
}
.close-aside .document-sidebar .form-group {
	display: none;
}
.instruction-tool .dropdown {
	max-width: 600px;
}
.instruction-tool .instruction-btn {
	height: 40px;
	background-size: 20px;
}
.instruction-tool .dropdown-menu {
	background-color: #e9edf0 !important;
	top: -25px !important;
	transform: none !important;
}
.instruction-tool .dropdown-menu .dropdown-item {
	padding: 0px 10px;
	border: 0px;
	line-height: 40px;
	margin-bottom: 10px;
	font-weight: 400;
}
.instruction-tool .dropdown-menu .dropdown-item:last-child {
	margin-bottom: 0px;
}

.correction-log-container {
	position: fixed;
	bottom: 0px;
	width: calc(100% - 25%);
}
.close-aside .correction-log-container {
	width: calc(100% - 50px);
}
@media (max-width: 992px) {
	aside.document-sidebar {
		position: absolute;
		height: 100%;
		z-index: 100;
		min-width: 330px;
	}
	.close-aside .document-sidebar {
		margin-left: calc(-330px + 50px);
	}
	.correction-log-container {
		width: calc(100% - 50px);
	}
}
