/* ####################--------- Fonts Starts ---------------########### */
.f-15 {
	font-size: 15px !important;
}
.font-semi-bold {
	font-weight: 600 !important;
}
.text-light {
	color: rgba(13, 30, 69, 0.75) !important;
}
/* ####################--------- Fonts Ends ---------------########### */

.shadow-sm,
.shadow-sm--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
}
.opacity-75 {
	opacity: 0.75;
}
.separator {
	height: 2px;
}
.card-title {
	letter-spacing: 1.5px;
}
dt {
	font-weight: 700;
}

/* ############################-----Document Version Sidebar CSS Starts----------############## */
.wrappedClass {
	border-right: 1px solid #000;
	padding: 30px;
}

.documentVersionHeading {
	border: 1px solid black !important;
}
/* ############################-----Document Version Sidebar CSS Ends----------############## */
