.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#controlled-tab-example {
	font-size: 15px !important;
}
a {
	color: #000000 !important;
}
.nav {
	font-size: 15px !important;
	display: flex;
	border: 0 !important;
	margin-right: 10px;
	font-weight: 600 !important;
}
.nav-tabs {
	margin-right: 10px;
}
