.tab-content {
	background-color: white;

	box-sizing: border-box;
	line-height: 1.5;
}

.table {
	font-size: 15px !important;
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	font-weight: 400 !important;
}
tbody tr:nth-of-type(odd) {
	background-color: #e9edf0;
}
/* table tbody tr:nth-child(2n-1) {
	background: #f2f2f2;
} */
.tab-pane {
	padding-top: 50px !important ;
	padding-bottom: 50px !important ;
}
.fade {
	transition: opacity 0.15s linear;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
tr {
	font-size: 15px !important;
}
