.page-title {
	line-height: 50px !important;
}
.mb-25 {
	margin-bottom: 25px !important;
}
.form-group {
	margin-bottom: 15px !important;
	margin-left: 10px !important;
}
.form-group > label {
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 9px;
}
.form-control {
	height: 53px !important;
	border: px solid #050505 !important;
	font-size: 14px;
	font-weight: 650 !important;
	border-radius: 4px !important;

	/* padding-left: 10px !important; */
}
.form-control ::-ms-input-placeholder {
	font-weight: 950 !important;
}
.mb-25 {
	margin-bottom: 25px !important;
	font-weight: 650 !important;
	font-size: 17px !important;
	margin-left: 1px !important;
}
.f-18 {
	font-size: 18px !important;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
	background-color: #0d1e45 !important;
	border-color: #0d1e45 !important;
}
.btn-secondary:hover {
	background-color: #283c73 !important;
	border-color: #283c73 !important;
}
.py-43 {
	padding-top: 43px !important;
	padding-bottom: 43px !important;
	margin-left: 0px !important;
	background-color: #f1f4f9;
	width: 100% !important;

	margin-right: 15px !important;
}
.opacity-50 {
	opacity: 0.5;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.f-15 {
	font-size: 15px !important;
}
.btn-block {
	min-width: 100%;
}

.navbar-nav .nav-item > .nav-link {
	line-height: 80px;
	position: relative;
	padding: 0px;
}
.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item > .nav-link {
	color: rgba(13, 30, 69, 0.75);
	letter-spacing: 1px;
}
.nav-item {
	height: 35px;
	line-height: 1;
	min-width: 100px;
	text-align: center;
	width: 85px;
	font-weight: bold;
}
.btn-outline {
	color: #0d1e45 !important;
	background-color: white !important;
	font-size: 17px !important;
	font-weight: 650 !important;

	border-color: #312f2f !important;
}
.btn-block {
	min-width: 100%;
}
.container {
	background-color: #f1f4f9;
	width: 100% !important;
}
@media (min-width: 1440px) {
	.container {
		max-width: 100%;
	}
}
@media (max-width: 100%) {
	.container {
		max-width: 100%;
	}
}
.nav.nav-tabs {
	background-color: #f1f4f9;

	margin-left: 1rem !important;
}
.py-50 {
	padding-top: 50px !important;
}
.ffl-bg {
	background-color: #f1f4f9;
}
.main-container .tab-content {
	background-color: #fff;
}
