.row {
	padding-top: 50px;
	margin-bottom: 35px;
}

.page-title {
	line-height: 50px !important;
	margin: 0;
	margin-bottom: 3px !important;
	font-weight: 600 !important;
}

.shadow-sm,
.shadow-sm--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
	border: 0 !important;
	margin-bottom: 25px !important;
}

.card-body {
	padding: 25px !important;
}

.card-title {
	font-size: 1.5rem;
}

.form-group {
	margin-bottom: 25px !important;
}

.card-body {
	padding: 25px !important;
}

.card-title {
	margin-bottom: 25px !important;
	font-weight: 600 !important;
	letter-spacing: 1.5px;
}

.table {
	color: #0d1e45 !important;
	font-size: 15px !important;
	font-weight: 400 !important;
}

#viewButton {
	min-width: 125px;
	height: 30px;
	line-height: 1;
	font-weight: bold;
	background-color: #3d71de;
	border-color: #3d71de;
}

#viewButton:hover {
	background-color: #025cbd;
	border-color: #025cbd;
}
.table thead th:first-child {
	border-radius: 10px 0px 0px 0px;
}

.table thead th:last-child {
	border-radius: 0px 10px 0px 0px;
}

.table thead th {
	vertical-align: middle;
	border: 0px !important;
	background-color: white;
}

.table td {
	vertical-align: middle;
}

.table tbody td:last-child {
	text-align: end;
}

.tableRowEven {
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.05);
}

.tableRowOdd {
	background-color: white;
	border-color: white;
}
