.shadow-sm.card,
.shadow-sm.card--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
	border: 0 !important;
}

.error-message {
	color: #d0021b;
}

.error {
	border: 1px solid #d0021b !important;
}
