/* ####################--------- Fonts Starts ---------------########### */
.f-15 {
	font-size: 15px !important;
}
.font-semi-bold {
	font-weight: 600 !important;
}
/* ####################--------- Fonts Ends ---------------########### */

/* ###############-------Avatar css Start------################### */
.user-circle .user-name {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 9px;
}
.user-circle .position-absolute {
	top: 0;
}
/* ###############-------Avatar css End------################### */

/* #######################-------Table Style Starts------------############### */
.headerStyle {
	background-color: #ffffff;
}
.thead {
	background-color: white;
}
.table-bordered {
	border: none;
}
.table-bordered td,
.table-bordered th {
	border: none !important;
}
.table td,
.table th {
	border: none !important;
}
.table thead th {
	border: none !important;
}
.tableRowEven {
	padding: 0.75rem;
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid white !important;
}
.cellStyle {
	border: 1px solid white !important;
}
.tableRowOdd {
	background-color: white;
	border-color: white;
}
.table thead th:first-child {
	border-radius: 10px 0px 0px 0px;
}
.table thead th:last-child {
	border-radius: 0px 10px 0px 0px;
}
.table tbody td:last-child {
	text-align: end;
}
.table tbody td {
	padding: 15px;
	border: 0px;
	vertical-align: middle;
}
.table {
	margin-bottom: 50px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
	content: '';
}
.react-bootstrap-table {
	margin-bottom: 50px;
}
/* #######################-------Table Style Ends------------############### */

.shadow-sm,
.shadow-sm--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
}
.opacity-75 {
	opacity: 0.75;
}
.separator {
	height: 2px;
}
dt {
	font-weight: 700;
}
