/* ###############-------Avatar css Start------################### */
.user-circle .user-name {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 9px;
}
.user-circle .position-absolute {
	top: 0;
}
/* ###############-------Avatar css End------################### */

.shadow-sm,
.shadow-sm--on-hover:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(132, 138, 163, 0.1) !important;
}
.opacity-75 {
	opacity: 0.75;
}
.separator {
	height: 2px;
}
dt {
	font-weight: 700;
}
