.btn-big {
	min-width: 210px !important;
	height: 65px;
}
.modal-footer,
.modal-header,
.modal-body {
	padding: 25px 20px;
}
.modal-backdrop {
	background-color: #0d1e45;
}
.modal-header p {
	line-height: 28px;
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 690px;
	}
}
@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 980px;
	}
}
